/* =============CSS général ================*/
* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  background-color: #F5F5DC;
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

/*==========CSS menu ==========*/

.headerContainer {
  width: 100%;
  height: 100px;
  padding-bottom: 0px;
  background-color: rgba(214, 203, 203, 0.5);
}

.logo img {
  width: 80px;
  height: 80px;
  padding-top: 10px;
}

.menu ul {
  font-family: "Fjalla+One", Arial, sans-serif;
  list-style: none;
  text-align: center;
  padding-top: 40px;
  color: #993300;
  font-size: 1.5em;
  text-transform: uppercase;
  text-shadow: 2px 2px 3px grey;
}

.menu ul li {
  display: inline;
  padding: 30px;
}

.menu a {
  text-decoration: none;
  color: #993300;
}

.menu a:hover {
  color: #13840b;
}

.menu a:active {
  color: #993300;
}

.user_logo img {
  width: 50px;
  height: 50px;
  margin-top: 20px;
  border-radius: 50px;
  box-shadow: 0px 0px 10px #343434;
  background-color: #F5F5DC;
}

/*=========== CSS pour section =========*/
.sectionContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 2fr 2fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-items: stretch;
  align-items: center;
  padding-top: 200px;
  margin-left: auto;
  margin-right: auto;
}

.description {
  min-height: 380px;
}

article {
  width: 370px;
  height: 490px;
  text-align: center;
  background-color: #EEEBCC;
  border: 2px solid black;
  padding: 40px;
  box-shadow: 1px 1px 25px 2px black;
}

h1 {
  font-family: "Merriweather", arial, sans-serif;
  font-size: 1.5em;
}

p {
  font-family: "Asar", arial, sans-serif;
  font-size: 1.2em;
}

.buttons a {
  font-family: "Fira+Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  background-color: #f36a10;
  border: #f36a10 solid 1px;
  border-radius: 10px;
  color: #fff;
  display: inline-block;
  margin-bottom: 30px;
  width: 100px;
  line-height: 50px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
}

.buttons a:hover {
  background-color: #f36a10;
  border: #f36a10;
}


/*=========== Footer ==========*/
footer {
  bottom: 0;
  width: 100%;
  padding-top: 50px;
  height: 50px;
  text-align: center;
  background-color: rgba(15, 14, 14, 0.5);
}

#footer-p {
  font-family: "Ubuntu", Arial, sans-serif;
  font-size: 1.3em;
  color: #f9f9f9;
}
