body {
    background-image: url("../images/marvin-meyer-571072-unsplash.jpg");
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;   
}



.container {
    
    display: grid;
    grid-template-columns: 500px auto 500px;
    grid-template-rows: 200px;
    
}

.logo img {
    
    width: 80px;
    height: 80px;

}

.menu ul {
    
    display: flex;
    align-content: center;
    justify-content: space-around;
    position: relative;
    list-style: none;
    text-align: center;

}

.presentation {
    
    text-align: center;
}

.presentation h1{
    
    font-family: "Merriweather", arial, sans-serif;
    font-size: 5em;
    color: #e53109;
}

.presentation p{
    
    font-family: "Asar", arial, sans-serif;
    font-size: 2em;
    color: #ffffff;
}