/* ============= CSS général ================*/

html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  background-image: url("../images/marvin-meyer-571072-unsplash.jpg");
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

/* ============ CSS menu =========== */

.container {
  display: grid;
  grid-template-columns: 500px auto 700px;
  grid-template-rows: 100px;
  padding-bottom: 0px;
  background-color: rgba(214, 203, 203, 0.5);
  position: fixed;
}

.logo img {
  width: 80px;
  height: 80px;
  padding-top: 10px;
}

.menu ul {
  font-family: "Fjalla+One", Arial, sans-serif;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-top: 20px;
  justify-content: space-around;
  position: relative;
  list-style: none;
  text-align: center;
  color: #993300;
  font-size: 1.2em;
  text-transform: uppercase;
  text-shadow: 2px 2px 3px grey;
}

.menu a {
  text-decoration: none;
  color: #993300;
}

.menu a:hover {
  color: #13840b;
}

.menu a:active {
  color: #993300;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: auto;
  grid-gap: 20%;
}

.buttons a {
  font-family: "Fira+Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  background: #098df2;
  border: #098df2 solid 1px;
  border-radius: 10px;
  color: #fff;
  display: inline-block;
  width: 90px;
  line-height: 50px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
}

.buttons a:hover {
  background-color: #f36a10;
  border: #f36a10;
}

.sign-up {
  border: none;
  background: #098df2;
  border: #098df2 solid 1px;
  border-radius: 10px;
  color: #fff;
  -webkit-appearance: none;
}

.log-in {
  border: none;
  background: #098df2;
  border: #098df2 solid 1px;
  border-radius: 10px;
  color: #fff;
  -webkit-appearance: none;
}

/*=========== CSS Modal ==========*/

.modal-container {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all 500ms ease;
  background: rgba(2, 70, 88, 0.5);
  border-radius: 10px;
}

.modal-container:target {
  display: block;
}

.modalRegister {
  width: 550px;
  height: 600px;
  margin: auto;
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background: white;
  border: 2px solid #222;
  padding: 20px;
  box-shadow: 0px 0px 50px 5px black;
}

.btnRegister {
  color: #fff;
  font-size: 20px;
  margin-top: 10px;
  text-align: center;
  background-color: #f36a10;
}

.modalLogin {
  width: 550px;
  height: 600px;
  margin: auto;
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background: white;
  border: 2px solid #222;
  padding: 20px;
  box-shadow: 0px 0px 50px 5px black;
}

.btnConnexion {
  color: #fff;
  font-size: 20px;
  margin-top: 10px;
  text-align: center;
  background-color: #f36a10;
}

.modalPassword {
  width: 550px;
  height: 600px;
  margin: auto;
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background: white;
  border: 2px solid #222;
  padding: 20px;
  box-shadow: 0px 0px 50px 5px black;
}

.btnEnvoyer {
  color: #fff;
  font-size: 20px;
  margin-top: 10px;
  text-align: center;
  background-color: #f36a10;
}

.modal-heading {
  width: 100%;
  display: block;
  height: 60px;
  margin-bottom: 30px;
  padding: 10px;
  text-align: center;
  font-family: "Anton", Arial, sans-serif;
  font-size: 60px;
  color: #f23e3e;
}

.img-ui {
  position: relative;
  left: 42%;
  width: 90px;
}

input {
  margin-bottom: 15px;
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
  border: rgba(15, 14, 14, 0.5) solid 2px;
  border-radius: 5px;
  font-family: georgia, Arial, sans-serif;
  font-size: 14px;
  text-align: center;
}

.close {
  position: absolute;
  border: 2px solid #333;
  padding: 7px 9px 11px 9px;
  background: black;
  top: -20px;
  right: -20px;
  border-radius: 50%;
  transition: background 500ms;
}

/*============ CSS pour la section =============*/

.presentation {
  text-align: justify;
  padding-left: 120px;
  padding-right: 120px;
  padding-top: 250px;
}

.presentation h1 {
  font-family: "Merriweather", arial, sans-serif;
  font-size: 4em;
  text-align: center;
  color: #e53109;
  text-shadow: 3px 3px 4px black;
}

.presentation p {
  font-family: "Asar", arial, sans-serif;
  font-size: 1.7em;
  text-align: center;
  color: #ffffff;
  text-shadow: 3px 3px 4px black;;
}

.presentation p a:link {
  text-decoration: none;
  color: #e53109;
}

.presentation p a:hover {
  color: #13840b;
}

/*========== CSS pour footer ==========*/

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 50px;
  height: 50px;
  text-align: center;
  background-color: rgba(15, 14, 14, 0.5);
}

#footer-p {
  font-family: "Ubuntu", Arial, sans-serif;
  font-size: 1.3em;
  color: #f9f9f9;
}
