/* CSS général */

html {
    
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    background-image: url("../images/marvin-meyer-571072-unsplash.jpg");
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;   
}


/*CSS menu */

.container {
    
    display: grid;
    grid-template-columns: 500px auto 700px;
    grid-template-rows: 100px;
    padding-bottom: 0px;
       
}

.logo img {
    
    width: 80px;
    height: 80px;

}

.menu ul {
    
    font-family: "Fjalla+One", Arial, sans-serif;
    display: flex;
    align-content: center;
    justify-content: space-around;
    position: relative;
    list-style: none;
    text-align: center;
    color: #993300;
    font-size: 1.2em;
    text-transform: uppercase;
    text-decoration: underline;

}

.buttons {
    display: flex;
    margin: auto;
        
}

.buttons a {
    background: #098df2;
    border: #098df2 solid 1px;
    border-radius: 10px;
    color: #fff;
    display: inline-block;
    width:150px;
    line-height:50px;
    text-align:center;
    vertical-align:middle;
    text-decoration:none;
}


/* CSS pour la section */

.presentation {
    
    text-align: justify;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 100px;
}

.presentation h1{
    
    font-family: "Merriweather", arial, sans-serif;
    font-size: 5em;
    text-align: center;
    color: #e53109;
}

.presentation p{
    
    font-family: "Asar", arial, sans-serif;
    font-size: 1.7em;
    text-align: center;
    color: #ffffff;
    
}

/* CSS pour footer */

footer {
    
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 50px;
    height: 50px;
    text-align: center;
    background-color:rgba(15, 14, 14, 0.5);
}

#footer-p {
    
    font-family: "Ubuntu", Arial, sans-serif;
    font-size: 1.3em;
    color: #f9f9f9;
}